.container {
  padding: 24px;
}

label {
  width: 75px;
}

.height-60 {
  height: 60px;
}

.date-picker--focus {
  border-color: #767676;
}

.date-picker--hover {
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
}

.date-picker--error {
  border-color: #D43030
}

.grey-text {
  color: gray;
}